body {
    background-color: #f5f8fd;
}

h1 {
    color: #413e66;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar .social-links {
    text-align: right;
}

#topbar .social-links a {
    color: #535074;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
}

#topbar .social-links a:hover {
    color: #1bb1dc;
}

#topbar .social-links a:first-child {
    border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 100px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
    height: 70px;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
    display: none;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #413e66;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 7px 0;
    max-height: 26px;
}

.main-pages {
    margin-top: 60px;
}

#heading-text {
    position: absolute;
    left: 0;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
/*
.main-nav {
  Drop Down 
  Deep Drop Down
}
*/
.main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav > ul {
    position: absolute;
    right: 0;
    padding: 0 2em;
}

.main-nav > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.main-nav a {
    display: block;
    position: relative;
    color: #413e66;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.main-nav a:hover,
.main-nav li:hover > a {
    color: #1bb1dc;
    text-decoration: none;
}


/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(40, 38, 70, 0.8);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav li:hover > a {
    color: #8dc2fa;
    text-decoration: none;
}


.mobile-nav-toggle {
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #065e77;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.issue-card {
    background-color: #e9f4ff;
    border-radius: 10px;
}
.issue-card h5 {
    color: var(--dark);
}
.issue-card p {
    margin-bottom: 0.25em;
}
.issue-card h5 a {
    color: var(--dark)
}
.issue-card h5 a:hover {
    color: var(--primary)
}

.Error {
    color: #cf222e;
}
/* media queries for project issues page */
@media (max-width: 768px) {
    .project-issues-container {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    #heading-text {
        zoom: 0.8;
    }
}